

.localisation {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 0.95rem 0;
  box-shadow: inset 0 3px 3px rgba($color: #000000, $alpha: 0.1);
  i {
    padding-right: 1.1rem;
  }
  p {
    font-weight: 500;
    padding-right: 1.6rem;
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: $background-color;
  padding-bottom: 3.5rem;
  h1 {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 2.05rem 3rem 0.7rem 3rem;
  }
  h2 {
    font-size: 1.1rem;
    padding: 0 1rem 1.8rem 1rem;
    font-weight: 300;
  }
}

.fonctionnement {
  padding: 3rem 1.3rem 3rem 1.5rem;
  &__mosaic {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    @include tablette {
     flex-direction: row;
     column-gap: 35px;
    }
  }
  h2 {
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1.2em;
  }
  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $background-color;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 1.3rem;
    padding: 1.5em 0;
    box-shadow: $box-shadow;
    h3 {
      font-weight: 700;
    }
    &__degustez {
      background-color: #f5edff;
    }
    &__number {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: $color-primary;
      border-radius: 50%;
      font-size: 0.9rem;
      height: 1.5rem;
      width: 1.5rem;
      margin-left: -1em;
    }
    &__icon {
      font-size: 1.3rem;
      padding: 0 1.5rem;
      color: #8d8d8d;
      &__degustez {
        font-size: 1.2rem;
        color: $color-primary;
      }
    }
  }
}

.restaurants {
  
  background-color: $background-color;
  padding: 3.1rem 1.4rem 2.5rem 1.4rem;
  &__mosaic {
    display: flex;
  flex-direction: column;
  row-gap: 1rem;
    @include mobile {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
  }
  &__card {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
    box-shadow: $box-shadow;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
    @include mobile {
      width: 48%;
    }
    @include desktop {
      width: 23%;
    }
    &__new {
      position: absolute;
      top: 12px;
      right: 12px;
      border-radius: 2px;
      color: #008766;
      background-color: $color-tertiary;
      padding: 0.35rem 0.6rem;
      font-weight: 500;
      font-size: 0.85rem;
    }
    &__photo {
      object-fit: cover;
      object-position: 50% 60%;
      border-radius: 20px 20px 0 0;
      height: 175px;
      width: 100%;
    }
    &__description {
      display: flex;
      justify-content: space-between;
      padding: 0.9rem 1.5rem 1rem 1rem;
      h3 {
        font-size: 1.1rem;
        font-weight: 800;
        padding-bottom: 0.2rem;
      }
      h4 {
        font-weight: 300;
        font-size: 1.05rem;
      }
    }
  }
}
