.header__photo {
    object-fit: cover;
    height: 250px;
    width: 100%;
    @include mobile {
        height: 300px;
    }
}

.main__menu {
    background-color: $background-color;
}

.menu {
    background-color: $background-color;
    border-radius: 38px 38px 0 0;
    position: relative;
    top: -35px;
    padding: 1.8rem 1rem 3rem 0.9rem;
    @include mobile{
        border-radius: 0;
    }
    &__entier {
        @include mobile {
            display: flex;
            flex-wrap: wrap;
            column-gap: 2rem;
            justify-content: space-evenly;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile {
            justify-content: center;
        }
        .menu_title {
            font-size: 1.8rem;
            padding-left: 0.2rem;
            padding-bottom: 1.7rem;
            padding-right: 3rem;
        }
    }
    &__mosaic {
        margin-bottom: 3rem;

       h2 {
           text-transform: uppercase;
           margin-bottom: 1.1rem;
            &::after {
                background-color: $color-tertiary;
                display: block;
                margin-top: 0.4rem;
                content: "";
                height: 3px;
                width: 2.5em;
            }
        } 
    
        &__card {
            display: flex;
            flex-wrap: wrap;
            background-color: $background-color-menu-card;
            border-radius: 15px;
            margin-bottom: 1rem;
            box-shadow: $box-shadow;
            animation: slideUp $anim-dur both ease-out;
            @for $i from 1 through $num-cards {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
            }
            @keyframes slideUp {
                0% {
                    transform: translateY(25px);
                    opacity: 0;
                    
                }
                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
            @include mobile {
                max-width: 391px;
            }
            
        
            h3 {
                font-size: 1.12rem;
                font-weight: 700;
                padding: 0.7rem 3.5rem 0.25rem 0.7rem;
                width: 100%;
                order: 1;
            }
            p:nth-of-type(1) {
                font-size: 0.96rem;
                font-weight: 300;
                padding: 0 0 0.7rem 0.7rem;
                order: 2;
            }
            &__desc{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__price {
                margin-left: auto;
                font-weight: 700;
                padding: 0 1rem 0rem 0;
                order: 3;
            }
        }
    }
}

