// Color + BG + box-shadow //
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$footer-color: #353535;
$background-color: #F6F6F6;
$background-color-menu-card: #fff;
$color-icon-hearth: #969696;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$box-shadow-value: 0px 5px 8px 1px;
$box-shadow: $box-shadow-value $box-shadow-color;
$linear-gradient: linear-gradient($color-secondary, $color-primary);
$lighten-button-value: 7;

// Animation //
$anim-dur: 0.75s;
$num-cards: 10;
$anim-delay: calc($anim-dur / $num-cards);

// Breakpoints //

$breakpoints: (
    mobile: 600px,
    tablette: 800px,
    desktop: 1200px
);